*.docx
*.html
/Thesis Manual Jan. 2016.pdf
*.knit.md
*.utf8.md
*_cache/
*_files/
chapters/04_infer_prior/models
/chapters/05_talker_variation/talker_variation.md
/chapters/05_talker_variation/talker_variation.pdf
examples
/chapters/04_infer_prior/infer-priors.md
/chapters/04_infer_prior/tmp.Rnw
/chapters/04_infer_prior/infer-priors.tex
/chapters/04_infer_prior/infer-priors.pdf
*.chap.tex


# LaTeX temporary files
*.aux
*.log
*.toc
*.fls
*.lof
*.lot
*.out
*.toc

# PDF output - usually a bad idea to keep this in Git
*.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Biber
*.bcf
*.run.xml
