*.docx
*.html
/Thesis Manual Jan. 2016.pdf
*.knit.md
*.utf8.md
*_cache/
*_files/
chapters/04_infer_prior/models
/chapters/05_talker_variation/talker_variation.md
/chapters/05_talker_variation/talker_variation.pdf
examples
